:root {
    //Colors primary
    --blue-primary: #052250;
    --green-primary: #B0D07B;
    //Colors secondary
    --blue-secondary: #3F70B6;
    --green-secondary: #5FB777;
    //other colors
    --success: #009262;
    --warning: #FFA826;
    --error: #E01507;
    --black: #212121;
    --d_grey: #4D4D4D;
    --gery: #717171;
    --l_grey: #89939E;
    --grey_blue: #ABBED1;
    --silver: #F5F7FA;
    --white: #ffffff;
}