$primary-blue:#052250;
$primary-green:#B0D07B;
$secound-blue:#3F70B6; 
$secound-green:#5FB777;
$success:#009262;
$warning: #FFA826;
$error: #E01507;
$third-blue: #0A66C2;
$forth-blue: #55ACEE;
$white: #fff;