@use "sass:math";
@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/breakpoints.scss";
section{
  padding-top: 7rem;
  .content_experience{
    display: grid;
    grid-template: 1fr / 1.25fr 2fr;
    column-gap: 2rem;
    &__now{
      grid-column: 1/1;
      grid-row: 1;
      display: flex;
      flex-wrap: wrap;
      &__title{
        flex: 0 1 100%;
        display: grid;
        grid-template: 1fr / repeat(2,1fr);
        align-items: center;
        justify-items: center;
        margin-bottom: 4rem;
        & font{
          font-family: var(--font-raleway);
          font-size: var(--h2-size);
          font-weight: 600;
          line-height: 50px;
          color: var(--silver);
        }
        & div{
          width: 60%;
          height: 1px;
          background-color: var(--silver);
          @include media($mobil, $xmobil, $tablet, $tabletH) {
            display: none;
          }
        }
        @include media($mobil, $xmobil, $tablet, $tabletH) {
          display: block;
          margin-bottom: 0;
          text-align: center;
        }
      }
      &__job{
        flex: 0 1 100%;
        & font{
          font-family: var(--font-raleway);
          font-size: var(--h3-size);
          font-style: italic;
          font-weight: 400;
          line-height: 107px;
          color: var(--green-primary);
        }
        & div{
          & font {
            display: block;
            font-family: var(--font-raleway);
            font-size: var(--p-medium);
            font-style: normal;
            font-weight: 300;
            line-height: 21px;
            color: var(--silver);
          }
          & font:first-child{
            font-size: var(--h4-size);
            font-weight: 600;
            line-height: 28px;
            text-transform: uppercase;
            margin: 1rem 0 2rem 0;
          }
          & font:nth-child(2){
            font-size: var(--p-medium);
            font-weight: 600;
            line-height: 21px;
          }
          & font:nth-child(3){
            margin-bottom: 2rem;
          }
          @include media($mobil, $xmobil, $tablet, $tabletH) {
            text-align: justify;
          }
        }
        @include media($mobil, $xmobil, $tablet, $tabletH) {
          text-align: center;
          padding: 0 30px;
        }
      }
      @include media($mobil, $xmobil, $tablet, $tabletH) {
        grid-column: 1/1;
        grid-row: 1/1;
        display: block;
      }
    }
    &__old{
      grid-column: 2/2;
      grid-row: 1;
      &__job{
        display: grid;
        grid-template: 160px 1fr / repeat(2, 1fr);
        column-gap: 16px;
        align-items: center;
        & font{
          grid-column: 1/3;
          grid-row: 1/2;
          font-family: var(--font-raleway);
          font-size: var(--h3-size);
          font-weight: 400;
          line-height: 50px;
          color: var(--green-primary);
          font-style: italic;
        }
        &__description{
          grid-column: 1/3;
          grid-row: 2/2;
          display: grid;
          grid-template: auto / repeat(2, 1fr);
          gap: 2rem;
          & div{
            & font {
              display: block;
              font-family: var(--font-raleway);
              font-size: var(--p-medium);
              font-style: normal;
              font-weight: 300;
              line-height: 21px;
              color: var(--silver);
            }
            & font:first-child{
              font-size: var(--h4-size);
              font-weight: 600;
              line-height: 28px;
              text-transform: uppercase;
              margin: 1rem 0 2rem 0;
            }
            & font:nth-child(2){
              font-size: var(--p-medium);
              font-weight: 600;
              line-height: 21px;
            }
            & font:nth-child(3){
              margin-bottom: 2rem;
            }
          }
          @include media($mobil, $xmobil, $tablet, $tabletH) {
            grid-template: auto / 1fr;
            text-align: justify;
            padding: 30px 30px;
          }
        }
        @include media($mobil, $xmobil, $tablet, $tabletH) {
          grid-template: auto / 1fr;
          padding-top: 30px;
        }
      }
      @include media($mobil, $xmobil, $tablet, $tabletH) {
        grid-column: 1/1;
        grid-row: 2/2;
        text-align: center;
      }
    }
    @include media($mobil, $xmobil, $tablet, $tabletH) {
      grid-template: auto / 1fr;
      column-gap: 0;
    }
  }
}
