@import "../../assets/scss/mixin.scss";
@import "../../assets/scss/breakpoints.scss";
section {
  padding-top: 7rem;
  padding-bottom: 2rem;
  .content_contact {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    &__info {
      display: flex;
      align-items: center;
      &__content {
        border: 3px solid var(--silver);
        border-radius: 8px;
        padding: 16px 48px;
        &__title {
          padding: 20px 0;
          & font {
            font-size: var(--h2-size);
            font-weight: 500;
            color: var(--silver);
            font-family: var(--font-raleway);
          }
        }
        &__description {
          margin-bottom: 20px;
          & font {
            display: block;
            font-size: var(--p-medium);
            font-weight: 400;
            color: var(--silver);
            font-family: var(--font-raleway);
            line-height: 21px;
          }
        }
        &__icons {
          & figure {
            margin: 0;
            & a {
              margin: 0 5px;
              font-size: 24px;
              color: var(--silver);
            }
          }
        }
      }
      @include media($mobil, $xmobil, $tablet, $tabletH) {
        display: block;
      }
    }
    &__figure{
      display: grid;
      grid-template: 1fr / repeat(3, 1fr);
      justify-content: end;
      &__circle_green{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        & figure{
          margin: 0;
          & img{
            width: 25px;
            height: 25px;
            @include keyframes(circleGreen){
              from {
                transform: translateY(0px);
              }
              to {
                transform: translateY(-90px);
              }
            }
            @include animation(circleGreen,2s,alternate-reverse, 0s, infinite)
          }
        }
        @include media($mobil, $xmobil, $tablet, $tabletH) {
          justify-content: center;
        }
      }
      &__trangule{
        display: flex;
        justify-content: end;
        align-items: flex-start;
        & figure{
          margin: 0;
          & img{
            width: 85px;
            height: 85px;
            @include keyframes(triangule){
              from {
                transform: rotate(0);
              }
              to {
                transform: rotate(300deg);
              }
            }
            @include animation(triangule,2s,alternate-reverse, 0s, infinite)
          }
        }
      }
      &__circle_blue{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        & figure{
          margin: 0;
          & img{
            width: 37px;
            height: 37px;
            @include keyframes(circleBlue){
              from {
                transform: translateY(0px);
              }
              to {
                transform: translateY(-90px);
              }
            }
            @include animation(circleBlue,2s,alternate-reverse, 2s, infinite)
          }
        }

      }
    }
    @include media($mobil, $xmobil, $tablet, $tabletH) {
      grid-template: auto / 1fr;
      padding: 0 30px;
    }
  }
}
