<section>
  <div class="content_contact">
    <div class="content_contact__info">
     <div class="content_contact__info__content">
      <div class="content_contact__info__content__title">
        <font>Contacto</font>
      </div>
      <div class="content_contact__info__content__description">
        <font>
          Puedes contactarme por medio de un email o
        </font>
        <font>
          a través de mis redes sociales.
        </font>
      </div>
      <div class="content_contact__info__content__icons">
        <figure>
          <a href="https://www.linkedin.com/in/wilcox-marin-b91a6b17b/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/wilcoxmarin"><i class="fa-brands fa-github"></i></a>
          <a href="mailto:wilcoxmarindeveloper@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </figure>
      </div>
     </div>
    </div>
    <div class="content_contact__figure">
      <div class="content_contact__figure__circle_green">
        <figure>
          <img src="./assets/imgs/icons/circulo-verde.svg" alt="Circulo verde">
        </figure>
      </div>
      <div class="content_contact__figure__trangule">
        <figure>
          <img src="./assets/imgs/icons/triangulo.svg" alt="Triangulo">
        </figure>
      </div>
      <div class="content_contact__figure__circle_blue">
        <figure>
          <img src="./assets/imgs/icons/circulo-azul.svg" alt="Circulo azul">
        </figure>
      </div>
    </div>
  </div>
</section>
