<section>
  <div class="section-me">
    <div class="me">
      <div class="me__circle-blue">
        <figure>
          <img src="./assets/imgs/icons/circulo-azul.svg" alt="Circulo azul">
        </figure>
      </div>
      <div class="me__circle-green">
        <figure>
          <img src="./assets/imgs/icons/circulo-verde.svg" alt="Circulo azul">
        </figure>
      </div>
      <div class="me__text-presentation">
        <font>Hola 👋🏼,</font>
        <font>Soy <strong>Wilcox Marín</strong></font>
      </div>
      <div class="me__text-information">
        <div>
          <font>Frontend Developer y</font>
          <br>
          <font>Tecnólogo en desarrollo de software</font>
        </div>
      </div>
      <div class="me__icons-red-social">
        <figure>
          <a href="https://www.linkedin.com/in/wilcox-marin-b91a6b17b/"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://github.com/wilcoxmarin"><i class="fa-brands fa-github"></i></a>
          <a href="mailto:wilcoxmarindeveloper@gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </figure>
      </div>
      <div class="me__photo">
        <figure>
          <img src="./assets/imgs/me/wilcox.svg" alt="Wilcox Marin">
        </figure>
      </div>
      <div class="me__circle-blue-small">
        <figure>
          <img src="./assets/imgs/icons/circulo-azul.svg" alt="Circulo azul">
        </figure>
      </div>
    </div>
  </div>
</section>
