.contact{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-left: 64px;
    padding-bottom: 50px;
    &__information{
        flex-basis: 33%;
        border: 3px solid $white;
        border-radius: 8px;
        &__content{
            padding: 1rem 3rem;
            &__title{
                & h1{
                    font-weight: 600;
                    font-size: 42px;
                    color: $white;
                    margin: 0;
                    padding: 0;
                }
            }
            &__description{
                color: $white;
                font-weight: 400;
                font-size: $size-normal;
            }
            &__icon{
                margin: 0 5px;
                & > a{
                    font-size: $size-h4-desktop;
                    color: $white;
                }
            }
        }
        @media screen and (max-width: 992px) {
            flex-basis: 100%;
            order: 2;
        }
    }
    &__icons{
        flex-basis: 67%;
        display: flex;
        justify-content: flex-end;
        &__circlegreen{
            width: 25px;
            height: 25px;
            border-radius: 100%;
            border: 4px solid $secound-green;
            margin-right: 150px;
            margin-top: 100px;
            @include animation('circle-green 2s ease-in-out  infinite alternate-reverse');
            @media screen and (max-width: 576px) {
                margin-right: 150px;
                margin-left: 30px;
            }
        }
        &__triangule{
            width: 0;
            height: 0;
            position: relative;
            border-left: 80px solid $primary-green;
            border-top: 40px solid transparent;
            border-bottom: 40px solid transparent;
            margin-right: 200px;
            @include animation('trian 2s ease-in-out  infinite alternate-reverse');
            &__subtriangule{
                position: absolute;
                border-left: 70px solid $primary-blue;
                border-top: 35px solid transparent;
                border-bottom: 35px solid transparent;
                left: -77px;
                top: -35px;
            }

            @media screen and (max-width: 576px) {
                margin-right: 0px;
            }
            
        }
        &__circleblue{
            width: 37px;
            height: 37px;
            border-radius: 100%;
            border: 4px solid $secound-blue;
            margin-right: 100px;
            margin-top: 100px;
            @include animation('circle-blue 2s ease-in-out  2s infinite alternate-reverse');
            @media screen and (max-width: 992px) {
                display: none;
            }
        }
        @media screen and (max-width: 992px) {
            flex-basis: 100%;
            order: 1;
            justify-content: flex-start;
        }
    }
    @media screen and (min-width: 1366px) {
        width: 85%;
    }
    @media screen and (max-width: 992px) {
        padding: 0px 20px;
        margin-bottom: 20px;
    }
}

@include keyframes(circle-green){
    from{
        transform: translateY(-80px);
    }
    to{
        transform: translateY(0px);
    }
}
@include keyframes(circle-blue){
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}

@include keyframes(trian){
    from{
        transform: rotate(0)
    }
    to{
        transform: rotate(360deg)
    }
}