@use "sass:math";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.experience{
    display: flex;
    width: 85%;
    margin: 9.4rem auto;
    padding-left: 64px;
    &__now{
        flex-basis: 33%;
        &__title{
            display: flex;
            align-items: center;
            
            &__h1{
                flex-basis: 30%;
                & > h1{
                    color: $white;
                    font-size: 48px;
                    font-weight: 600;
                }
            }
            &__line{
                flex-basis: 25%;
                height: 1px;
                background-color: $white;
                margin-left: 50px;
            }
        }
        &__job{
            &__title{
                & > h1{
                    font-size: 32px;
                    font-weight: 500;
                    font-style: italic;
                    color: $primary-green;
                }
            }
            &__description{
                width: 75%;
                &__business{
                    font-size: 24px;
                    color: $white;
                    font-weight: 600;
                }
                &__job{
                    font-size: 18px;
                    color: $white;
                    font-weight: 700;
                    & > p {
                        margin: 0;
                    }
                }
                &__doyou, &__methtech{
                    font-size: 18px;
                    color: $white;
                    font-weight: 300;
                    margin: 0;
                    font-family: 'Inter', sans-serif!important;
                    line-height: 21px;
                }
                &__methtech{
                    margin-top: 20px;
                }
            }
        }
    }
    &__old{
        flex-basis: 67%; 
        &__title{
            & > h1{
                color: $primary-green;
                font-style: italic;
                font-weight: 500;
                font-size: 32px;
                margin: 45px 0;
            }
        }
        &__content{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &__job{
                flex-basis: math.div(100%, 2);
                margin: 10px 0 50px 0;
                &__business{
                    font-size: 24px;
                    color: $white;
                    font-weight: 600;
                }
                &__workstation{
                    font-size: 18px;
                    color: $white;
                    font-weight: 700;
                    & > p {
                        margin: 0;
                    }
                }
                &__doyou, &__methtech{
                    font-size: 18px;
                    color: $white;
                    font-weight: 300;
                    margin: 0;
                    font-family: 'Inter', sans-serif!important;
                    line-height: 21px;
                    width: 75%;
                }
                &__methtech{
                    margin-top: 20px;
                }
            }
        }
    }
}