.bg-hero{
    background-color: $primary-blue;
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        text-decoration: none;
        padding-left: 45px;
        & > img {
            height: 70px;
            width: 70px;
        }
        @media screen and (min-width: 1366px) {
            padding-left: 245px;
        }
    }
    &__links{
        padding-right: 100px;
        &__list{
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            & > li {
                @media screen and (min-width: 993px) {
                    margin: 0 10px;
                    ::after{
                        content: '';
                        display: block;
                        width: 0;
                        height: 2.5px;
                        background-color: $secound-blue;
                        transition: width .2s;
                    }
                    :hover::after{
                        width: 100%;
                    }
                }
                @media screen and (max-width: 992px) {
                    padding: 10px 0px 10px 10px;
                }
            }
            @media screen and (max-width: 992px) {
                display: block;
            }
        }
        @media screen and (min-width: 1366px) {
            padding-right: 330px;
        }
        @media screen and (max-width: 992px) {
            padding-right: 0px;
            background-color: rgba($color: $secound-blue, $alpha: 1);
            overflow: hidden;
            max-height: 0;
            transition: max-height .5s;
        }
        &--active{
            max-height: 162px; 
            transition: max-height .5s;
        }
    }
    &__link{
        text-decoration: none;
        color: #fff;
        font-size: $size-normal;
        &--active{
            @media screen and (max-width: 992px) {
                background-color: $third-blue;
            }
            @media screen and (min-width: 993px) {
                border-bottom: 3px solid $secound-blue;
            }
        }
    }
    &__botom-responsive{
        float: right;
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0px 0px;
        background-color: transparent;
        box-shadow: none;
        border: none;
        width: 3rem;
        height: 3rem;
        gap: .65rem;
        cursor: pointer;
        & > div{
            background-color: $white;
            width: 100%;
            height: 2px;
            border-radius: 5px;
            transition: all .2s;
            transform-origin: left;
        }
        &--active{
            & div:first-child{
                transform: rotate(40deg);
            }
            & div:nth-child(2){
                opacity: 0;
            }
            & div:last-child{
                transform: rotate(-45deg);
            }
        }
        @media screen and (min-width: 993px) {
           display: none; 
        }
    }

    @media screen and (max-width: 992px) {
        display: block;
    }

}
